<ion-content>
  <ion-icon routerLink="/restaurants" style="color: #FC7A1E; margin-top: 10%; margin-left: 5%;"
   name="arrow-back-outline"></ion-icon>

   <div>
    <img src="../../assets/images/maluhia.png" alt="maluhia" 
    style="margin-left: 20%; margin-top: 15%; border-radius: 15%;">
    <h1 style="font-weight: bold; margin-left: 32%;">Maluhia</h1>
    <h6 style="font-weight: bold; margin-left: 25%;">INTERLAGOS, SP</h6>
    <ion-button routerLink="/maps" class="maps">MAPS</ion-button>
    <img src="../../assets/images/Frame 171.png" alt="stars" 
    style="margin-left: 30%; margin-top: 3%; border-radius: 15%;">
   </div>

   <div style="margin-left: 5%;">
    <p>Restaurante despojado de alta rotatividade que serve opções veganas apuradas no buffet
      com delícias orientais.
    </p>
    <p><b>Opções de serviço:</b> Refeição no local · Retirada na porta · Entrega sem contato</p>
    <p><b>Endereço:</b> Avenida Antônio Barbosa da Silva Sandoval, 38 - Interlagos São Paulo 04783-000</p>
    <p><b>Horário:</b> Aberto - qui. 12:00-15:00</p>
   </div>

   <div>
    <h1 style="color: #FC7A1E; margin-left: 30%;"><b>Cardápio</b></h1>
    <h4 style="color: #FC7A1E; margin-left: 5%;"><b>Mais Pedidos</b></h4>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div style="align-items: center;">
            <ion-card style="margin-left: 20%;">
              <img src="../../assets/images/charuto.jpg">
            </ion-card>
            <p style=" color: #FC7A1E; text-align:center">Charuto de couve</p>
          </div>
        </ion-col>
        <ion-col>
          <div style="align-items: center;">
            <ion-card style="margin-left: 20%;">
              <img src="../../assets/images/lasanha.jpg">
            </ion-card>
            <p style="color: #FC7A1E; text-align:center;">Lasanha de berinjela</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   </div>

   <h1 style="color: #FC7A1E; margin-left: 30%;"><b>Entradas</b></h1>

   <ion-grid>
    <ion-row>
      <ion-col>
        <div style="align-items: center;">
          <ion-card style="margin-left: 20%;">
            <img src="../../assets/images/falafel.jpg">
          </ion-card>
          <p style="text-align:center; color: #FF9346;">Falafel</p>
        </div>
      </ion-col>
      <ion-col>
        <div style="align-items: center;">
          <ion-card style="margin-left: 20%;">
            <img style="height: 60px;" src="../../assets/images/salada.jpg">
          </ion-card>
          <p style="text-align:center; color: #FF9346;">Salada verde</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="align-items: center;">
          <ion-card style="margin-left: 20%;">
            <img style="height: 60px;" src="../../assets/images/brocolis.jpg">
          </ion-card>
          <p style="text-align:center; color: #FF9346;">Brocolis gratinado</p>
        </div>
      </ion-col>
      <ion-col>
        <div style="align-items: center;">
          <ion-card style="margin-left: 20%;">
            <img style="height: 60px;" src="../../assets/images/arroz.jpg">
          </ion-card>
          <p style="text-align:center; color: #FF9346;">Arroz integral</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>