<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/login" name="arrow-back-outline"></ion-icon>
    <ion-title>Inspots</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="inputs">
      <ion-input type="text" placeholder="Email" required></ion-input>
    </div>
    <ion-row>
      <ion-col>
        <ion-button type="submit" class="send" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Forneça seu email para enviarmos um código para seu acesso.
    </small>
  </form>
</ion-content>