<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back-outline"></ion-icon>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">Faça seu Cadastro</ion-label>
    <ion-input type="text" placeholder="Nome"></ion-input>
    <ion-input type="text" placeholder="Sobrenome"></ion-input>
    <ion-input type="text" placeholder="Email"></ion-input>
    <ion-input type="tel" placeholder="Telefone"></ion-input>
  </ion-item>

</ion-content>
