ion-toolbar{
    --background: #FC7A1E;
  }
  
  ion-title, ion-icon{
    color: #ffff;
  }

  ion-input {
      border-radius: 8px !important;
      padding-left: 10px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #000000;
      width: 90%;
      margin-left: 5%;
}

p{
  margin-left: 45%;
}

ion-label{
  margin-left: 5%;
  font-weight: bold;
}

ion-button{
  font-weight: bold;
}

.register {
  display: inline-block;
  width: 48%;
  margin-left: 25%;
  font-weight: bold;
  border-radius: 50;
  margin-top: 20%;
  --background: #FC7A1E;
  --background-hover: #FC7A1E;
  --background-activated: #FC7A1E;
  --background-focused: #FC7A1E;
  --color: white;
  --padding-top: 5px;
  --padding-bottom: 5px;
}

.inputs-register{
  margin-top: 10%;
}

ion-segment-button::part(indicator-background) {
  background: #FC7A1E;
}

/* Material Design styles */
ion-segment-button.md::part(native) {
  color: #000;
}

.segment-button-checked.md::part(native) {
  color: #FC7A1E;
}

ion-segment-button.md::part(indicator-background) {
  height: 4px;
}

/* iOS styles */
ion-segment-button.ios::part(native) {
  color: #FC7A1E;
}

.segment-button-checked.ios::part(native) {
  color: #fff;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 50;
}