<ion-header>
  <ion-toolbar>
    <ion-icon routerLink="/home" name="arrow-back-outline"></ion-icon>
    <ion-title>Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="inputs">
    <ion-label position="stacked">Faça seu Login</ion-label>
    <ion-input type="text" [(ngModel)]="login.nome" placeholder="Email" required></ion-input>
    <ion-input type="password" [(ngModel)]="login.senha" placeholder="Senha" required></ion-input>
  </div>

  <div class="lost">
    <a [routerLink]="['/forgot-password']" class="small-text">Esqueci minha senha</a>
  </div>

  <div>
    <ion-button class="login" expand="block"  (click)="salvar()" routerLink="/restaurants">Log in</ion-button>
  </div>

  <p>ou</p>

  <div class="google">
    <ion-button expand="block" routerLink="/restaurants">
      <ion-icon name="logo-google"></ion-icon>
      Logar com Google
    </ion-button>
  </div>  

</ion-content>
